Parallel_Tumor_ModellingConsoleApp/Parallel_Tumor_ModellingConsoleApp/bin
Parallel_Tumor_ModellingConsoleApp/Parallel_Tumor_ModellingConsoleApp/obj
.vs
.DS_Store
Parallel_Tumor_ModellingConsoleApp/.vs
Parallel_Tumor_ModellingConsoleApp/.DS_Store
Parallel_Tumor_ModellingConsoleApp/Parallel_Tumor_ModellingConsoleApp/.vs
Parallel_Tumor_ModellingConsoleApp/Parallel_Tumor_ModellingConsoleApp/.DS_Store
ProcessWrapper/.vs
ProcessWrapper/ProcessWrapper/bin
ProcessWrapper/ProcessWrapper/obj
